[Unit]
Description=LocalTunnel
After=network.target

[Service]
User=debian
ExecStart=/usr/local/bin/lt --port #yourporthere --subdomain #yoursubdomainhere
Restart=always

[Install]
WantedBy=multi-user.target
